<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Become a Member</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <main id="main" class="container">
      <h1>Become a Member</h1>

      <form method="POST" action="/join" class="form" novalidate>
  
        <div class="form-group">
          <label for="secret">Enter secret code:</label>
          <input 
            type="text"
            name="secret" 
            id="secret" 
            required 
            aria-required="true"
          ></input>
        </div>

        <button type="submit" class="btn">Submit</button>
      </form>
    </main>
  </body>
</html>